.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item .page-link {
  color: #2c3e50;
  background-color: #ecf0f1;
  font-weight: bold;
  border-radius: 5px;
}

.pagination .page-item .page-link:hover {
  background-color: #bdc3c7;
}

.pagination .disabled .page-link {
  color: #bdc3c7;
}

.pagination .active .page-link {
  background-color: #2c3e50;
  color: #ecf0f1;
  border-color: #2c3e50;
}

.pagination .active .page-link:hover {
  background-color: #2c3e50;
}
