/* Banner */
.carousel-item {
  position: relative;
  height: 0;
  padding-bottom: 38%;
}

.carousel-item .img-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}

.carousel-item .img-inner img {
  display: none;
}
.carousel-indicators {
  display: none;
}
