/* Feedback */
.feedback-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-infor input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
}
