.category-banner {
  color: white;
  background-image: url(src/assets/images/category-banner-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.categories-description--1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}
.categories-description--2 {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}
