.filter-pane-list {
  border-bottom: 1px solid #ecf0f1;
}

.filter-pane-label {
  cursor: pointer;
}

.filter-pane-categories-name {
  font-size: 1.2rem;
  color: #161619;
  font-weight: 500;
}

.filter-pane-categories-icon {
  font-size: 1.2rem;
}
