.filter-pane {
  border: 1px solid #ecf0f1;
  overflow-y: auto;
  max-height: 800px;
}

.filter-pane-categories-item-link {
  cursor: pointer;
  transition: ease-in 0.15s;
  border-radius: 5px;
  padding: 0.5rem;
}

.filter-pane-categories-item-link.active,
.filter-pane-categories-item-link:hover {
  color: #fff;
  background-color: #34495e;
}

.filter-pane-categories-item-link.active {
  font-weight: 500;
  background-color: #2c3e50;
}

.filter-pane::-webkit-scrollbar {
  width: 3px;
}
