.search-bar-input {
  display: flex;
}

.search-bar-search-icon-button {
  background: transparent;
  color: #7f8c8d80;
  border: none;
  outline: none;
}

.search-bar-search-icon {
  font-size: 1.5rem;
}

.search-bar-form {
  width: 100%;
  border-bottom: 1px solid #7f8c8d80;
}

.search-bar-form input {
  color: #fff;
  background: transparent;
}

.search-bar {
  border: none;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
}
