.button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(12, 12, 32);
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 8px 30px;
  border-radius: 10px;
}

.button:hover {
  opacity: 0.9;
}

.floating-button {
  cursor: pointer;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  transition: ease-out 0.2s;
}

.floating-button:hover {
  background-color: #27ae60;
}
