.avatar {
  display: flex;
}

.profile-heading-avatar {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  align-items: center;
}

.profile-heading-avatar-image {
  display: flex;
  width: 198px;
  height: 198px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-heading-avatar-upload {
  margin-top: 11%;
  margin-left: -4%;
  width: 50px;
  height: 50px;
  background: grey;
  border: none;
  border-radius: 50%;
}

.profile-heading-avatar-upload-icon {
  font-size: 40px;
}
