.profile-order_history {
  overflow-y: auto;
  max-height: 550px;
}
.order_his-ul {
  border: none;
}
.order_his-item {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .order_his-item {
    flex-direction: column;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
  .order_his-item {
    flex-direction: column;
  }
}

.order_his-lot {
  font-size: 1.5rem;
  font-weight: 600px;
}
.order_his-quantity {
  display: flex;
  font-size: 1.2rem;
  color: #727272;
  width: 20%;
  flex-direction: column;
}

.order_his-confirm {
  background-color: chocolate;
  color: #fff;
  width: 100%;
  margin-top: 20%;
  font-size: 16px;
  border-radius: 5%;
  border: 1px solid black;
}

.order_his-date {
  font-size: 1rem;
  color: #727272;
}

.order_his-item-duration {
  font-size: 1rem;
}

@media only screen and (max-width: 576px) {
  .order_his-quantity {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
