.login-background {
  height: 100%;
  width: 100%;
  background-image: url('https://i.imgur.com/A9ykTNq.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  display: flex;
  align-items: center;
}
