.author-info--wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.author-info--background {
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.author-info--foreground {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(44, 62, 80, 0.75);
  color: #fff;
}

.author-avatar--img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
