.author-item-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.author-list-item {
  display: block;
}

.author-item-name {
  font-size: 1.2rem;
  transition: ease-in 0.15s;
}

.author-item-name:hover {
  color: deeppink;
}
