/* *{
    font-family: Segoe UI;
    font-style: normal;
} */

/* Order List  */

@media only screen and (max-width: 1000px) {
  .cart-item-img {
    height: 40%;
    width: 25%;
  }
  html {
    font-size: 12px;
  }
  .book-row {
    margin-right: 7%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 569px) {
  .cart-item-img {
    height: 30%;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
