li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Heading */
.profile-heading-subcontent {
  font-size: 1.4rem;
}

.profile-heading {
  padding-top: 60px;
  padding-bottom: 30px;
}
/* Nội dung chính */
.profile-main {
  border-top: 1px solid #eae8e4 !important;
}

.profile-item {
  padding-top: 20px;
}

.profile-item-name {
  min-width: 100px;
  padding-bottom: 16px;
  font-size: 1.2rem;
  color: black;
  opacity: 0.6;
  cursor: pointer;
}

.profile-item-name:hover {
  opacity: 1;
}

.profile-item-name.active {
  opacity: 1;
}

.profile-content {
  padding: 20px 40px 20px 40px;
  border: 1px solid #eae8e4 !important;
}

.profile-pane {
  display: none;
}

.profile-pane.active {
  display: block;
}
/* Form thông tin */

.profile-form-group.active {
  display: block;
}

.profile-form-group {
  display: none;
}

.profile-form-group .label {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile-form-group .form-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #b9b8b8;
}

.profile-form-submit {
  margin: 20px 0 20px 0;
  background-color: rgb(12, 12, 32);
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
}

.profile-form-submit:hover {
  opacity: 0.8;
}
