p {
  text-align: justify;
}

.cart-total {
  border: 1px solid #e0e0e0;
}

.cart-total-info {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.cart-total-label {
  font-weight: normal;
  font-size: 1.6rem;
  color: #000000;
}

.cart-total-value {
  font-weight: normal;
  font-size: 1.6rem;
  color: #000000;
}

.cart-total-description-1 {
  font-weight: normal;
  font-size: 1.2rem;
  color: #000000;
  margin: 0 5%;
  margin-bottom: 5%;
}

.cart-total-description-2 {
  font-weight: normal;
  font-size: 1.2rem;
  color: #000000;
  margin: 0 5%;
  margin-bottom: 5%;
}

/* Button */
.cart-checkout-button {
  width: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  background: #000000;
  border-radius: 7px;
  color: #ffffff;
}
.cart-checkout-button:disabled {
  opacity: 0.3;
}

.cart-checkout-button:hover {
  opacity: 0.3;
  background: black;
}

.cart-continue-button {
  width: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 15%;
}

.cart-continue-button:hover {
  opacity: 0.3;
  background: black;
  color: white;
}
