.book-row {
  display: flex;
  border: 1px solid #e0e0e0;
  margin-right: 3%;
}
.book-row-description {
  margin: auto;
  display: flex;
  width: auto;
}
.cart-item {
  margin: 5% 0% 0% 3%;
}
.cart-item-img {
  width: 100px;
  height: 150px;
  margin: 5%;
  object-fit:contain;
}

.cart-item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 600px;
}
.cart-item-topic {
  font-weight: normal;
  font-size: 0.8rem;
  color: #ff0000;
  margin-top: 3%;
}
.cart-item-name {
  font-weight: normal;
  font-size: 1.5rem;
  color: #000000;
}
.cart-item-author {
  font-weight: normal;
  font-size: 1rem;
  color: #727272;
}
.cart-item-status {
  font-weight: normal;
  font-size: 1rem;
  color: #4cdb49;
}
.cart-item-cross {
  width: 9%;
  opacity: 0.3;
  margin: auto;
}
.cart-item-cross:hover {
  opacity: 1;
}

@media only screen and (max-width: 1400px) {
  .book-row {
    margin-right: 5%;
  }
  .cart-item-cross {
    width: 12%;
    opacity: 0.3;
    margin: auto;
  }
  .cart-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .cart-item-img {
    height: 40%;
    width: 25%;
  }
  html {
    font-size: 12px;
  }
  .book-row {
    margin-right: 7%;
  }
  .cart-item-cross {
    width: 12%;
    opacity: 0.3;
    margin: auto;
  }
  .cart-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 569px) {
  .cart-item-img {
    height: 30%;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
