.cart-content {
  margin-bottom: 50px;
}
.cart-heading {
  position: relative;
  margin: auto;
}
.cart-heading-feature_name {
  font-weight: 600;
  font-size: 2.5rem;
  color: #000000;
  margin-left: 4%;
}
.cart-heading-description {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 40px;
  color: #858585;
  padding-bottom: 2%;
  margin-left: 4%;
}
