.routes {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* responsive */
@media (max-width: 991px) {
  .hide-nav {
    display: block;
  }
  .nav-icon {
    display: none !important;
  }
  .category-nav {
    position: initial;
  }
  .nav-item {
    text-align: center;
  }
}
@media (max-width: 770px) {
  .feedback-form {
    width: 100%;
  }
}
