.logo {
  margin: 0 10px;
}

.navbar-icon {
  font-size: 20px;
  margin: 0px 12px;
  transition: ease-in 0.15s;
}

.navbar-toggler {
  margin: 5px;
}

.menubar {
  background-color: #fff;
}

.navbar-brand {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.nav-item {
  padding: 0px 30px;
  font-size: 1.2rem;
  position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: deeppink;
}

.navbar-light .navbar-nav .nav-link.active {
  color: deeppink;
}

.hide-nav {
  display: none;
}

/* subnav */
li:hover .category-nav {
  display: block;
}

.category-nav {
  display: none;
  position: absolute;
  padding: 8px;
  background-color: #fff;
  min-width: 160px;
  border: 1px solid #d3d3d3;
  z-index: 1;
  min-width: 150px;
}

.category-nav li a {
  padding: 12px;
  text-decoration: none;
}

.header-button {
  background: transparent;
  border: none;
}
