.collapse-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.15s;
  border-radius: 50%;
}

.collapse-button:hover {
  background-color: #bdc3c7;
}
