.footer {
  width: 100%;
  background-color: #2c3e50;
  color: #bdc3c7;
}

.footer .col-heading {
  color: #fff;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer ul li {
  padding: 0 0 5px 0;
}

.footer ul li:hover {
  color: #fff;
  text-decoration: none;
}

.footer ul li a {
  color: inherit;
}
