.bookdetail-item-img {
  object-fit: cover;
  display: block;
  width: 15rem;
  height: 21.2rem;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

.bookdetail-content {
  background-image: url(src/assets/images/bookdetail-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bookdetail-content--foreground {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(85, 94, 95, 0.75);
  color: #fff;
}

.book-name {
  font-size: 2.4rem;
  font-weight: bold;
}

.author-name {
  font-size: 1.5rem;
}

.book-infor button {
  margin-left: 0px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 12px;
  background-color: rgb(12, 12, 32);
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 10px;
}
.book-infor button:hover {
  opacity: 0.8;
}
