.bookdetail-tabs {
  display: flex;
  position: relative;
}

.bookdetail-tabs.tabs .tab-item {
  padding: 16px 20px 11px 20px;
  font-size: 1.2rem;
  background-color: #fff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.bookdetail-tabs.tabs .tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.1);
  border-bottom: 1px solid deeppink;
}

.bookdetail-tabs.tabs .tab-item.active {
  color: deeppink;
  border-bottom: 1px solid deeppink;
}

.tab-content {
  padding: 20px 0;
}

.bookdetail-tab {
  padding-top: 1rem;
  display: none;
  border-top: 1px solid #ecf0f1 !important;
}

.bookdetail-tab p {
  font-size: 1rem;
}

.otherbook-heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.otherbook {
  border-left: 1px solid #ecf0f1 !important;
}

.media {
  display: flex;
}
.otherbook-img {
  width: 60px;
  height: 85px;
  object-fit: cover;
}

.otherbook-infor {
  padding-left: 1rem;
}

.otherbook ul {
  padding: 0px;
}

.otherbook-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.otherbook-author {
  font-size: 0.8rem;
  color: #7f8c8d;
  font-weight: 400;
}
