body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/**
* anchor
*/
a:hover {
  color: deeppink;
}

/*
* Scroll bar
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ecf0f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #95a5a6;
}
