.profile-renewal-label {
  font-size: 24px;
  border-bottom: 1px solid green;
  padding-bottom: 15px;
}

.profile-renewal-account-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid green;
}

.profile-renewal-balance {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 35px;
  color: green;
}

.profile-renewal-information {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
  align-items: center;
}

.profile-renewal-title {
  font-size: 20px;
}

.profile-renewal-option {
  margin-top: 4%;
  margin-bottom: 2%;
}

.profile-renewal-option-label {
  font-size: 24px;
  margin-bottom: 2%;
}

.profile-renewal-input-wrapper {
  width: 25%;
}

.profile-renewal-input {
  width: 100%;
  border-radius: 5px;
  height: 24px;
}

.profile-renewal-validate-msg {
  color: red;
}

.profile-renewal-select {
  width: 100%;
}
