.card-img-top {
  position: relative;
  height: 0;
  padding-bottom: 140%;
}

.card-img-top .book-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}
.card {
  border: none;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}
.book-list-item:hover {
  background-color: snow;
}

.book-item-topic {
  left: 47px;
  top: 222px;
  font-family: Segoe UI;
  font-size: 0.8rem;
  color: deeppink;
}

.book-item-name {
  font-family: Segoe UI;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-item-author {
  font-family: Segoe UI;
  font-size: 0.8rem;
  color: #2c3e50;
}

.book-list-item p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
}
