.detail {
  display: none;
}

.detail.active {
  display: block;
}

.detail .title {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.detail .name {
  float: left;
  width: 80%;
}

.detail .title .name .index {
  font-size: 30px;
}

.detail .title .name .info {
  font-size: 12px;
}

.detail .item {
  margin-top: 20px;
}

.detail .item .mb-5 .media {
  margin-bottom: 20px;
}

.detail .item .mb-5 .media .info {
  width: 70%;
  margin-left: 2%;
  font-size: 18px;
}

.detail .item .mb-5 .media .status {
  display: flex;
  margin-right: 10px;
  width: 20%;
  flex-direction: column;
  align-items: center;
}

.detail .item .mb-5 .media .status .title {
  display: flex;
  font-size: 18px;
  float: left;
  justify-content: center;
}

.detail .item .mb-5 .media .status .tick-box {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10%;
  margin-top: 12%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
.other {
  padding: 0;
}
.otherbook {
  border: 1px solid #eae8e4 !important;
  padding-left: 1.875rem;
  padding-top: 20px;
}
.otherbook-heading {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 12px;
}
.media {
  display: flex;
}
.otherbook-img {
  width: 60px;
  height: 80px;
  object-fit: cover;
}
.otherbook-infor {
  padding-left: 1rem;
}
ul {
  padding: 0px;
}
.otherbook-name {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
.otherbook-author {
  font-size: 0.8rem;
  font-weight: 400;
}
