.form-box {
  display: flex;
  width: 40%;
  height: 96%;
  position: relative;
  background: #00000099;
  margin: auto 30% auto 30%;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}

.login-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  margin-top: 6%;
  font-size: 30px;
  font-weight: 600;
  color: #d1d1ff;
}

.login-title-welcome {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  color: #d1d1ff;
}

.form-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-form {
  margin-left: 0;
  position: absolute;
  width: 80%;
}

.input-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2% 0 4% 0;
}

.input-wrapper-child {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d1d1ff;
  justify-content: space-between;
}

.input-field {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  color: #e6e6e6;
}

.input-field::placeholder {
  color: #d1d1ff;
}

.input-icon {
  font-size: 20px;
  color: #d1d1ff;
}

.login-page-error-message {
  color: pink;
}

.check-box {
  margin: 0 2% 2% 0;
}

.checkbox-title {
  padding: 0;
  font-size: 14px;
  color: #d1d1ff;
}
.submit-btn {
  font-size: large;
  margin-top: 4%;
}
.input-submit {
  background-color: #d2691e;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 8px 30px;
  border-radius: 10px;
}

.login-link {
  display: flex;
  justify-content: center;
  color: #d1d1ff;
  margin-top: 2%;
}

.signup-link {
  color: #ffcc66;
  margin-left: 5px;
}

.signup-link:hover {
  color: #f5f5ff;
}

/* responsive */

@media only screen and (max-width: 576px) {
  .form-box {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 0;
  }
  .login-title {
    font-size: 22px;
  }
  .login-title-welcome {
    font-size: 16px;
    height: 5%;
  }
  .login-link {
    flex-direction: column;
    align-items: center;
  }
  .input-wrapper {
    margin: 0;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1024px) {
  .form-box {
    width: 60%;
    margin: auto 20% auto 20%;
    height: 80%;
    font-size: 24px;
  }
  .login-link {
    flex-direction: column;
    align-items: center;
  }
  .checkbox-title {
    font-size: 20px;
  }
}
