.sign-up-wrapper {
  display: flex;
  width: 100%;
  margin: 4% 0 0 0;
  justify-content: space-between;
}

.input-wrapper-left {
  display: flex;
  width: 45%;
  margin: 0;
  flex-direction: column;
}
