.payment-heading-feature_name {
  font-size: 2.5rem;
  font-weight: bold;
}

.payment-heading-description {
  font-size: 1.5rem;
}

.payment-heading {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.payment-content {
  padding: 20px 40px 20px 40px;
  /* border-bottom: 1px solid #050401 !important; */
}

.payment-total {
  text-align: right;
  font-size: 1.3rem;
  font-weight: 1000px;
  padding-bottom: 5%;
}
.payment-commit {
  margin-top: 2%;
}
.form-group .payment-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1%;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin: 10px 0px 10px;
  border-radius: 5px;
  border: 1px solid #b9b8b8;
}

.service {
  display: flex;
  justify-content: space-between;
}
.delivery-service {
  /* width: 100%; */
  padding: 12px;
  margin: 0px 0;
  border-radius: 5px;
  border: 1px solid #b9b8b8;
  width: 300px;
}

@media only screen and (max-width: 380px) {
  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -15px;
  }
  .btn-group {
    margin-top: 10px;
    width: auto;
  }
}

.form-submit {
  font-size: 2rem;
}

.form-submit {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(12, 12, 32);
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 8px 30px;
  border-radius: 10px;
  /* width: 100%; */
}
.form-submit:hover {
  opacity: 0.6;
}

.form-submit:disabled {
  opacity: 0.3;
}

.form-group .login-page-error-message {
  color: red;
  margin-bottom: 20px;
}
