.adminpage-wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  overflow: auto;
}

.adminpage-main-panel {
  width: calc(100% - 260px);
  float: right;
  height: 100%;
}

.adminpage-content {
  background-color: #fafafa;
  min-height: calc(100vh - 62px);
}
