.sidebar {
  display: block;
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
}

.sidebar::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 2;
}

.sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  z-index: 5;
}

.sidebar-logo {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-logo-text {
  color: white;
}

.sidebar-item {
  color: white;
  border-radius: 0.5rem;
}

.sidebar-item__active {
  background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
